/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
info.txt
szop.code-workspace
package-lock.json
composer.lock
protelekom.code-workspace
.bash_history
.bash_profile
.composer/
.ftpquota
.gemrc
.gitconfig
.lesshst
.mc/
.my.cnf
.passenger2
.pydistutils.cfg
.subversion/
.viminfo
.vimrc
.vipserv
.vipserv_motd
.wersja-java-shell
.wersja-php-shell
.wersja-python
.wersja-ruby-shell
chmod
etc/
logs_arch/
mail/
oradiag_centrum/
tmp/
/.npm
