// Fonts
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/*
.bg-light {
    background-color: #F8F8FF !important;
}
*/

.container-fluid, table th  {
    color: #5d5d5d;
}

$border-radius: 1;
/*$primary: #6e1e62;*/

.navbar-brand {
    margin-right: 4rem;
}
a.navbar-brand:hover {
    background-color: #eb9605;
}

.card-footer {
    background-color: #fbfbfb;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.contact-jumbo {
    background: rgb(227,212,225);
    background: linear-gradient(90deg, rgba(227,212,225,1) 0%, rgba(247,247,247,1) 100%);
}

.pulse {
    animation: pulse 3s;
}
@keyframes pulse {
    0% {
      color: #ffffff;
    }
    100% {
      color: #5d5d5d;
    }
}

.my-shadow-sm:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;*/
}
.my-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.border-top {
    border-top: 1px dotted $gray-300;
}

.width300 {
    max-width: 300px;
}

footer {
    font-size: 80%;
}
footer div {
    border-top: 1px dotted $gray-300;
    padding-top: 0.5rem;
}

.human {
    visibility: hidden;
}
