// Fonts
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
/*
.bg-light {
    background-color: #F8F8FF !important;
}
*/

$border-radius: 2;
/*$primary: #6e1e62;*/

.navbar-brand {
    margin-right: 4rem;
}
a.navbar-brand:hover {
    background-color: #eb9605;
}

.card-footer {
    background-color: #fbfbfb;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

footer {
    font-size: 80%;
    margin-top: 2rem;
}
footer div {
    border-top: 1px dotted $gray-300;
    padding-top: 0.5rem;
}
